*{
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: #91c8ff;
    text-align: center;
    margin: 0;
    
}

.commands {    
    background-color: #111;
    margin-bottom: 20px;
}

#insert,
#enter{
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.button_refresh{
    color: #111;
    display: inline-block;
    font-size: 20px;
    padding: 4px 4px;
    margin-left: 5%;
}

.button_giveup{
    color: #111;
    display: inline-block;
    font-size: 20px;
    padding: 4px 4px;
    margin-left: 0%;
}


.inputField {
    display: inline-block;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 10px;
    padding: 4px 4px;
    width: 20%;
    font-size: 20px;
    min-height: 3vh;
}

.countClass{
    padding: 0 10px 0 10px;
}
/*
.collapsible {
    background-color: #111;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }

  .active, .collapsible:hover {
    background-color: #454545;
}

  .collapse_content {
    padding: 10px 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 24px;
}
*/



/* SIDEBAR */





/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0;  /*0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    word-break:break-all;
    /*word-wrap: break-word;*/ 
  }
  
  /* The sidebar links */
  .sidebar p {
    padding: 8px 8px 8px 32px;
    /*text-decoration: none;*/
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    
  }
  /*
   When you mouse over the navigation links, change their color 
  .sidebar p {
    color: #f1f1f1;
  }*/
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .closebtn{
      color: white;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    display: inline-block;
    transition: margin-left .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }